* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
}

body {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
    }
}

header {
    align-items: center;
    background-color: #0099cb;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #004e67;
    }
}

h1 {
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 1.5rem;
}

header > p {
    align-items: flex-end;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    right: .5rem;
    top: 0;
}

header > p > time {
    color: #fff;
}

main {
    margin-bottom: 1rem;
    width: 100%;
}

h2 {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    h2 {
        color: #ddd;
    }
}

.gap {
    display: flex;
    padding: 0 .5rem 0 0;
}

.gap > div:first-child {
    flex-grow: 1;
}

.gap > .tracks {
    display: flex;
    flex-grow: 0;
    padding: .5rem 0 .5rem .5rem;
}

.station-area {
    width: 100%;
}

.station {
    background-color: #efefef;
    display: flex;
    padding: .5rem .5rem .5rem .5rem;
}

@media (prefers-color-scheme: dark) {
    .station {
        background-color: #3f3f3f;
    }
}

.station > div {
    display: flex;
}

.station > div:first-child {
    flex-grow: 1;
}

.station > div:last-child {
    flex-grow: 0;
}

.number {
    border: 2px solid #0099cb;
    border-radius: 100%;
    font-style: normal;
    height: 2rem;
    position: relative;
    width: 2rem;
}

.number::before {
    content: 'KK';
    display: block;
    font-size: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    .number::before {
        color: #ddd;
    }
}

.number > span {
    bottom: -.1rem;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    .number > span {
        color: #ddd;
    }
}

summary {
    outline: none;
}

h3 {
    font-size: 1rem;
    margin: 0 0 0 .5rem;
}

@media (prefers-color-scheme: dark) {
    h3 {
        color: #ddd;
    }
}

.train-types {
    display: flex;
    gap: .25rem;
    list-style: none;
    margin: 0 0 0 .5rem;
    padding: 0;
}

.train-types > li {
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 1.5rem;
}

[data-type="4"] {
    background-color: #282828;
}

[data-type="3"] {
    background-color: #0068e0;
}

[data-type="2"] {
    background-color: #e00000;
}

[data-type="1"] {
    background-color: #389010;
}

[data-type="6"] {
    background-color: #ff9800;
}

[data-type="8"] {
    background-color: #ccc;
    color: #333;
}

[data-type="12"] {
    background-color: #00b080;
}

[data-type="3"]::before,
[data-type="6"]::before {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    content: 'flight';
    transform: rotate(-45deg);
}

.tracks {
    gap: .25rem;
    position: relative;
}

[id] + .tracks {
    padding-top: .25rem;
}

.tracks::before {
    background-color: #ccc;
    content: '';
    display: block;
    height: calc(100% + 1rem);
    position: absolute;
    right: 5rem;
    top: -.5rem;
    width: .25rem;
}

[id] .tracks::before {
    right: 3.25rem;
}

[id] + .tracks::before {
    height: 100%;
    right: 1.5rem;
    top: 0;
}

.gap > [id] {
    position: relative;
    padding: 0 0 1rem;
}

.gap > [id]::before {
    background-color: transparent;
    border-top: .25rem solid #ccc;
    border-left: .25rem solid #ccc;
    content: '';
    display: block;
    height: 1.25rem;
    position: absolute;
    right: -2rem;
    top: 0;
    width: 5.75rem;
}

[id] + .tracks::after {
    background-color: #ccc;
    bottom: -.25rem;
    content: '';
    height: .25rem;
    position: absolute;
    right: 1.5rem;
    width: 3.75rem;
}

.tracks > ul {
    align-items: center;
    display: flex;
    gap: .25rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.up {
    justify-content: flex-end;
}

.tracks li {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;
    min-height: 2rem;
    justify-content: center;
    padding: .5rem 0;
    width: 1.5rem;
}

.up > li {
    border-left: 1px dashed #ccc;
}

.down > li {
    border-right: 1px dashed #ccc;
}

#main ~ .station-area > .gap > :not([id]) + .tracks .down-2:last-child,
#main ~ .station-area > .station .down-2:last-child {
    margin-right: 1.75rem;
}

#main ~ .station-area > .gap > :not([id]) + .tracks .down-1:last-child,
#main ~ .station-area > .station .down-1:last-child {
    margin-right: 3.5rem;
}

.gap > [id] .tracks .down-1:last-child {
    margin-right: 1.75rem;
}

.tracks span {
    align-items: center;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 12px;
    justify-content: center;
    position: relative;
    width: 1.5rem;
}

[data-direction="1"]::after {
    border-top: .25rem solid #0099cb;
    border-right: .25rem solid transparent;
    border-left: .25rem solid transparent;
    bottom: -.3rem;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

[data-direction="2"]::after {
    border-right: .25rem solid transparent;
    border-bottom: .25rem solid #0099cb;
    border-left: .25rem solid transparent;
    top: -.3rem;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}