$glass-background: linear-gradient(135deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .5));
$glass-border: 1px solid rgba(255, 255, 255, .8);

h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

h4 {
    margin-bottom: .5rem;
}

#custom {
    background-image: $glass-background;
    backdrop-filter: blur(.25rem);
    border-top: $glass-border;
    min-height: calc(100vh - 73px);
    padding: 1.5rem 1.5rem 6.1rem;

    #heats,
    #sizes,
    .customs {
        [type="radio"] {
            display: none;

            &:checked + label {
                font-weight: bold;

                & > i::before {
                    content: 'radio_button_checked';
                }
            }
        }

        label {
            align-items: center;
            display: flex;
            height: 2rem;

            & > i {
                margin-right: .5rem;

                &::before {
                    content: 'radio_button_unchecked';
                }
            }
        }
    }

    #heats {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        li {
            border-radius: .5rem;
            min-width: 50%;

            &:only-child {
                width: 100%;
            }

            &:nth-last-child(2) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:nth-child(2) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            label {
                justify-content: center;
            }
        }
    }

    #sizes {
        .size {
            min-width: 4rem;
        }

        .price {
            margin-left: .5rem;

            &::before {
                content: '￥';
            }
        }
    }

    #customs {
        [type="checkbox"] {
            display: none;

            & + label {
                align-items: center;
                display: flex;
                height: 2rem;
                justify-content: space-between;

                .mi {
                    align-items: center;
                    display: flex;
                }

                .mi::before {
                    content: 'add';
                    margin-right: .5rem;
                }
            }

            &:checked + label > .mi::before {
                content: 'remove';
            }

            & ~ ul > li {
                height: 2rem;
                transition: .35s;
            }

            &:not(:checked) ~ ul > li {
                height: 0;
                overflow-y: hidden;
            }
        }
    }

    #condiment-bar {
        [type="checkbox"] {
            display: none;

            &:checked + label {
                font-weight: bold;

                i::before {
                    content: 'check_box';
                }
            }
        }

        label {
            align-items: center;
            display: flex;

            i {
                margin-right: .5rem;

                &::before {
                    content: 'check_box_outline_blank';
                }
            }
        }
    }
}

#order {
    background-image: $glass-background;
    backdrop-filter: blur(.25rem);
    border-top: $glass-border;
    min-height: calc(100vh - 73px);
    padding: 1.5rem 1.5rem 6.1rem;

    dt:nth-of-type(n + 2) {
        margin-top: 1rem;
    }

    dd {
        font-size: 1.5rem;
        margin: 0;
    }
}