.mi {
    font-family: 'Material Icons';
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: optimizeLegibility;
}

.mi.mi-add::before {
    content: 'add';
}

.mi.mi-bookmark_add::before {
    content: 'bookmark_add';
}

.mi.mi-bookmark_border::before {
    content: 'bookmark_border';
}

.mi.mi-bookmark_remove::before {
    content: 'bookmark_remove';
}

.mi.mi-bookmarks::before {
    content: 'bookmarks';
}

.mi.mi-check_box::before {
    content: 'check_box';
}

.mi.mi-check_box_outline_blank::before {
    content: 'check_box_outline_blank';
}

.mi.mi-favorite::before {
    content: 'favorite';
}

.mi.mi-favorite_border::before {
    content: 'favorite_border';
}

.mi.mi-more_vert::before {
    content: 'more_vert';
}

.mi.mi-navigate_before::before {
    content: 'navigate_before';
}

.mi.mi-remove::before {
    content: 'remove';
}

.mi.mi-rule::before {
    content: 'rule';
}

.mi.mi-share::before {
    content: 'share';
}

.mi.mi-speaker_notes::before {
    content: 'speaker_notes';
}