* {
    color: #333;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-attachment: fixed;
    background-color: #99e0ff;
    background-image:
        radial-gradient(at 25% 68%, hsla(266,95%,71%,1) 0px, transparent 50%),
        radial-gradient(at 85% 92%, hsla(216,94%,79%,1) 0px, transparent 50%),
        radial-gradient(at 32% 9%, hsla(121,85%,70%,1) 0px, transparent 50%),
        radial-gradient(at 70% 8%, hsla(204,99%,65%,1) 0px, transparent 50%),
        radial-gradient(at 74% 50%, hsla(114,96%,78%,1) 0px, transparent 50%),
        radial-gradient(at 75% 36%, hsla(104,73%,69%,1) 0px, transparent 50%),
        radial-gradient(at 26% 78%, hsla(83,65%,73%,1) 0px, transparent 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 5rem;
}

.header {
    align-items: center;
    background-color: #eee;
    display: flex;
    height: 3rem;
    justify-content: center;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.title {
    font-size: 1.5rem;
    margin: 0;
}

.odometer__sort {
    display: none;
}

.odometer__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.odometer__sort:checked + .odometer__list {
    flex-direction: column-reverse;
}

.odometer__item-button {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(.5rem);
    border: 1px solid #fff;
    border-radius: 1rem;
    display: grid;
    grid-template:
        'odometer__date odometer__difference'
        'odometer__distance odometer__distance'
        / 1fr auto;
    padding: 1rem;
    width: 100%;
}

.odometer__date {
    font-size: 1.25rem;
    font-weight: normal;
    grid-area: odometer__date;
    margin: 0;
    text-align: left;
}

.odometer__difference {
    align-items: flex-end;
    display: flex;
    gap: .25rem;
    grid-area: odometer__difference;
    height: 100%;
    justify-content: flex-end;
    margin: 0;
}

.odometer__distance {
    grid-area: odometer__distance;
    margin: 0;
    padding-left: 2rem;
}

.odometer__distance-distance {
    font-size: 2rem;
}

.odometer__distance-unit {
    display: inline-block;
    margin-left: .5rem;
    width: 1.5rem;
}

.footer {
    background-color: #333;
    bottom: 0;
    display: grid;
    grid-template:
        'footer__left-block footer__right-block'
        / 1fr 1fr;
    gap: 4rem;
    left: 0;
    padding-bottom: calc(env(safe-area-inset-bottom) + 44px);
    position: fixed;
    width: 100%;
}

.footer__left-block,
.footer__right-block {
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer__left-block {
    grid-area: footer__left-block;
}

.footer__right-block {
    grid-area: footer__right-block;
}

.footer__button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: .5rem;
}

.footer__button > .mi::before {
    color: #fff;
}

.add__button-block {
    bottom: calc(env(safe-area-inset-bottom) + 44px);
    display: flex;
    justify-content: center;
    left: calc(50vw - 2rem);
    position: absolute;
    width: 4rem;
}

.add__button {
    align-items: center;
    background-color: #eee;
    border: .5rem solid #333;
    border-radius: 100%;
    display: flex;
    height: 4rem;
    justify-content: center;
    outline: none;
    width: 4rem;
}

.add__button > .mi-add::before {
    font-size: 3rem;
}

.dialog {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(.5rem);
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.dialog::backdrop {
    backdrop-filter: blur(.5rem);
}

.form__block {
    border-bottom: 1px solid #333;
    position: relative;
}

.form__block:nth-child(n + 2) {
    margin-top: 1rem;
}

.form__input {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    outline: none;
    padding: 2rem .5rem .5rem;
    width: 100%;
}

.input__distance {
    padding-right: 2.5rem;
}

.form__label {
    left: .5rem;
    position: absolute;
    top: .5rem;
}

.form__label-distance {
    bottom: .5rem;
    position: absolute;
    right: .5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.form__button {
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid #fff;
    border-radius: .5rem;
    font-size: 1rem;
    padding: .5rem;
}

.form__button.delete {
    border-color: rgb(255, 75, 0);
}