.mi::before {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}

.mi-add::before {
    content: 'add';
}

.mi-download::before {
    content: 'download';
}

.mi-edit::before {
    content: 'edit';
}

.mi-sort::before {
    content: 'sort';
}